
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488370435244'); /* IE9*/
  src: url('iconfont.eot?t=1488370435244#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488370435244') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488370435244') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488370435244#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before { content: "\e614"; }

.icon-display:before { content: "\e665"; }

.icon-bofangqizanting:before { content: "\f006d"; }

.icon-551488821353490553221:before { content: "\e602"; }

.icon-bofangqitingzhi:before { content: "\e608"; }

.icon-play:before { content: "\e642"; }

.icon-quanping:before { content: "\e628"; }

.icon-bofang1:before { content: "\e62c"; }

.icon-tushubofangqiyousheng:before { content: "\e60d"; }

.icon-tushubofangqizanting:before { content: "\e60e"; }

.icon-tushuebofangqijingyin:before { content: "\e611"; }

.icon-bofang2:before { content: "\e604"; }

